.box1 {
  background: red;
}
.box2 {
  background: purple;
}
.box3 {
  background: plum;
}
.box4 {
  background: orangered;
}
.box5 {
  background: navy;
}
.box6 {
  background: midnightblue;
}
.box7 {
  background: maroon;
}
.box8 {
  background: lightskyblue;
}
.box9 {
  background: lemonchiffon;
}
.box10 {
  background: lavenderblush;
}
